html {
  background: linear-gradient(0deg,rgba(129, 144, 167, 1), rgba(129, 144, 167, 0.8014) 20%, 
  rgba(129, 144, 167, 0.6) 40%, rgba(129, 144, 167, 0.29) 65%, rgba(129, 144, 167, 0.1609) 80%, 
  rgba(129, 144, 167, 0));
  background-attachment: fixed;
}

body {
  
   
  padding: 20px;
  margin: 0;
}



h1, h2, p, ul, li {
  font: small-caps bold 24px/1 sans-serif ;
  
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #EEE5E5;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin:0;
}

.content li {
  margin-bottom: 10px;
}

img {
  border: 1px solid #111;
  padding: 5px;
  width: 250px;
  height: 200px;
}

.active {
  background-color: #0099FF;
}

